*{
     margin: 0;
     padding: 0;
     text-decoration: none;
}

:root{
     --cabecalho: #080404;
     --logo: #f5008d;
     --background: #f5f5f5;
     --background2: #f6d6e9;
     --background3: #ffffff;
     --background4: #1D201D;
     --fonte1: #fa0001;
     --fonte2: #a9a7aa;
}

.logo {
    width: 110px;
    margin-left: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cabecalho);
    position: relative;
    z-index: 10;
}

nav {
    display: flex;
    gap: 25px;
    margin-right: 37px;
    font-family: "Nexa W01 Heavy";
}

.home {
    color: var(--logo);
}

.galeria {
    color: var(--logo);
}

.orcamento {
    color: var(--logo);
}

.contato {
    color: var(--logo);
}

.home:hover {
    color: var(--background2);
}

.galeria:hover {
    color: var(--background2);
}

.orcamento:hover {
    color: var(--background2);
}

.contato:hover {
    color: var(--background2);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--logo);
    text-align: center;
    position: relative;
    z-index: 10;
    display: flex;
    gap: 30px;
    font-family: "Nexa W01 Heavy";
    padding: 20px;
    padding-left: 450px;
}

.menu-t1 {
    color: var(--background3);
}

.menu-t2 {
    padding-left: 30px;
    color: var(--background3);
}

.menu-t1:hover {
    color: var(--background2);
}

.menu-t2:hover {
  color: var(--background2);
}


.card1 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezcinco-1.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card2 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezcinco-2.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card3 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezcinco-3.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card4 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezcinco-4.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card5 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezcinco-5.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card6 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezcinco-6.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card1 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card2 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card3 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card4 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card5 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card6 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card1:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card2:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card3:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card4:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card5:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card6:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card1:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card2:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card3:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card4:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card5:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card6:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

    .card1:hover svg {
    scale: 0;
  }

  .card2:hover svg {
    scale: 0;
  }

  .card3:hover svg {
    scale: 0;
  }

  .card4:hover svg {
    scale: 0;
  }

  .card5:hover svg {
    scale: 0;
  }

  .card6:hover svg {
    scale: 0;
  }

  .card7 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezcinco-7.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card8 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezum-1.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card9 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezum-2.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card10 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezum-3.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card11 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezum-4.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card12 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezum-5.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card7 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card8 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card9 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card10 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card11 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card12 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card7:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card8:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card9:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card10:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card11:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card12:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card7:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card8:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card9:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card10:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card11:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card12:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

    .card7:hover svg {
    scale: 0;
  }

  .card8:hover svg {
    scale: 0;
  }

  .card9:hover svg {
    scale: 0;
  }

  .card10:hover svg {
    scale: 0;
  }

  .card11:hover svg {
    scale: 0;
  }

  .card12:hover svg {
    scale: 0;
  }

  .card13 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezum-6.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card14 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezum-7.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card15 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/oitavas-1.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card16 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/oitavas-2.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card17 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/oitavas-3.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card18 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/oitavas-4.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card13 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card14 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card15 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card16 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card17 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card18 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card13:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card14:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card15:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card16:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card17:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card18:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card13:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card14:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card15:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card16:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card17:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card18:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

    .card13:hover svg {
    scale: 0;
  }

  .card14:hover svg {
    scale: 0;
  }

  .card15:hover svg {
    scale: 0;
  }

  .card16:hover svg {
    scale: 0;
  }

  .card17:hover svg {
    scale: 0;
  }

  .card18:hover svg {
    scale: 0;
  }

  .card19 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/setimas-1.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card20 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/setimas-2.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card21 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/setimas-3.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card22 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/setimas-4.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card23 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/setimas-5.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card24 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/setimas-6.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card19 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card20 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card21 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card22 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card23 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card24 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card19:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card20:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card21:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card22:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card23:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card24:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card19:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card20:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card21:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card22:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card23:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card24:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

    .card19:hover svg {
    scale: 0;
  }

  .card20:hover svg {
    scale: 0;
  }

  .card21:hover svg {
    scale: 0;
  }

  .card22:hover svg {
    scale: 0;
  }

  .card23:hover svg {
    scale: 0;
  }

  .card24:hover svg {
    scale: 0;
  }

  .card25 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/decimas-1.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card26 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/decimas-2.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card27 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/decimas-3.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card28 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/decimas-4.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card29 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/decimas-5.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card30 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/nonas-1.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card25 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card26 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card27 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card28 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card29 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card30 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card25:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card26:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card27:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card28:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card29:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card30:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card25:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card26:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card27:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card28:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card29:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card30:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

    .card25:hover svg {
    scale: 0;
  }

  .card26:hover svg {
    scale: 0;
  }

  .card27:hover svg {
    scale: 0;
  }

  .card28:hover svg {
    scale: 0;
  }

  .card29:hover svg {
    scale: 0;
  }

  .card30:hover svg {
    scale: 0;
  }

  .card31 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/nonas-2.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card32 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/nonas-3.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card33 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/nonas-4.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card34 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/nonas-5.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card35 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/deztres-2.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card36 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/deztres-1.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card31 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card32 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card33 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card34 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card35 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card36 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card31:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card32:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card33:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card34:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card35:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card36:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card31:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card32:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card33:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card34:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card35:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card36:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

    .card31:hover svg {
    scale: 0;
  }

  .card32:hover svg {
    scale: 0;
  }

  .card33:hover svg {
    scale: 0;
  }

  .card34:hover svg {
    scale: 0;
  }

  .card35:hover svg {
    scale: 0;
  }

  .card36:hover svg {
    scale: 0;
  }

  .card37 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/deztres-3.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card38 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/deztres-4.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card39 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/deztres-5.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card40 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/deztres-6.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card41 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/deztres-7.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card42 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/deztres-8.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card37 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card38 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card39 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card40 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card41 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card42 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card37:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card38:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card39:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card40:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card41:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card42:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card37:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card38:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card39:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card40:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card41:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card42:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

    .card37:hover svg {
    scale: 0;
  }

  .card38:hover svg {
    scale: 0;
  }

  .card39:hover svg {
    scale: 0;
  }

  .card40:hover svg {
    scale: 0;
  }

  .card41:hover svg {
    scale: 0;
  }

  .card42:hover svg {
    scale: 0;
  }

  .card43 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezdois-1.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card44 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezdois-2.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card45 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezdois-3.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card46 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezdois-4.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card47 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezquatro-1.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card48 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezquatro-2.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card43 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card44 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card45 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card46 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card47 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card48 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card43:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card44:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card45:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card46:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card47:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card48:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card43:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card44:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card45:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card46:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card47:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card48:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

    .card43:hover svg {
    scale: 0;
  }

  .card44:hover svg {
    scale: 0;
  }

  .card45:hover svg {
    scale: 0;
  }

  .card46:hover svg {
    scale: 0;
  }

  .card47:hover svg {
    scale: 0;
  }

  .card48:hover svg {
    scale: 0;
  }

  .card49 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezquatro-3.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card50 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezquatro-4.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card51 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezseis-1.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card52 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezseis-2.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card53 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezseis-3.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card54 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezseis-4.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card49 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card50 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card51 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card52 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card53 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card54 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card49:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card50:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card51:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card52:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card53:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card54:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card49:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card50:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card51:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card52:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card53:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card54:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

    .card49:hover svg {
    scale: 0;
  }

  .card50:hover svg {
    scale: 0;
  }

  .card51:hover svg {
    scale: 0;
  }

  .card52:hover svg {
    scale: 0;
  }

  .card53:hover svg {
    scale: 0;
  }

  .card54:hover svg {
    scale: 0;
  }

  .card55 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezseis-5.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card56 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezsete-1.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card57 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezsete-2.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card58 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezsete-3.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card59 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/dezsete-4.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card60 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/quintas-1.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card55 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card56 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card57 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card58 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card59 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card60 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card55:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card56:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card57:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card58:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card59:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card60:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card55:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card56:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card57:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card58:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card59:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card60:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

    .card55:hover svg {
    scale: 0;
  }

  .card56:hover svg {
    scale: 0;
  }

  .card57:hover svg {
    scale: 0;
  }

  .card58:hover svg {
    scale: 0;
  }

  .card59:hover svg {
    scale: 0;
  }

  .card60:hover svg {
    scale: 0;
  }

  .card61 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/quintas-2.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card62 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/quintas-3.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card63 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/quintas-4.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card64 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/sextas-1.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card65 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/sextas-2.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card66 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/segundas-1.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card61 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card62 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card63 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card64 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card65 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card66 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card61:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card62:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card63:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card64:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card65:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card66:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card61:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card62:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card63:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card64:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card65:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card66:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

    .card61:hover svg {
    scale: 0;
  }

  .card62:hover svg {
    scale: 0;
  }

  .card63:hover svg {
    scale: 0;
  }

  .card64:hover svg {
    scale: 0;
  }

  .card65:hover svg {
    scale: 0;
  }

  .card66:hover svg {
    scale: 0;
  }

  .card67 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/segundas-2.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card68 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/quartas-1.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card69 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/quartas-2.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card70 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/quartas-3.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card71 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/quartas-4.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card72 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/primeiras-1.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card67 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card68 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card69 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card70 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card71 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card72 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card67:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card68:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card69:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card70:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card71:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card72:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card67:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card68:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card69:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card70:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card71:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card72:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

    .card67:hover svg {
    scale: 0;
  }

  .card68:hover svg {
    scale: 0;
  }

  .card69:hover svg {
    scale: 0;
  }

  .card70:hover svg {
    scale: 0;
  }

  .card71:hover svg {
    scale: 0;
  }

  .card72:hover svg {
    scale: 0;
  }

  .card73 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/primeiras-2.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card74 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/primeiras-3.jpg);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card75 {
    position: relative;
    width: 350px;
    height: 350px;
    background: url(../img/terceiras-1.png);
    background-size: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card73 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card74 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card75 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }


  .card73:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card74:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card75:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card73:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card74:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card75:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

    .card73:hover svg {
    scale: 0;
  }

  .card74:hover svg {
    scale: 0;
  }

  .card75:hover svg {
    scale: 0;
  }

    .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
    font-family: "Avenir-Medium";
  }

  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
    font-family: "Apercu Regular";
    line-height: 20px;
  }

.arte-sec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding-bottom: 10px;
    position: relative;
    z-index: 10;
}

footer {
    background: var(--cabecalho);
    padding: 40px;
}

.rede-i {
    width: 60px;
}

.rede-t {
    width: 39px;
    padding-top: 3px;
}

.rede-tu {
    width: 39px;
    padding-top: 3px;
}

.rede-p {
    width: 39px;
    padding-top: 3px;
}

.logo-rodapé-sec {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.logo-rodapé {
    width: 110px;
}

.copyright {
    font-family: "Avenir-Medium";
    font-size: 15px;
    text-align: center;
    color: var(--background);
    padding-bottom: 10px;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}